@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}

header .container {
    flex-direction: column;
    justify-content: flex-start;
}

.max-width {
    width: 100%;
    min-height: auto;
}

.bg {
    background: url(_images/bg-2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.menu {
    background-color: rgb(192, 192, 192);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    display: inline;

}

.logo {
    background: url(_images/logo-roupa.png) no-repeat;
    background-size: contain;
    z-index: 9;
    position: relative;
    width: 80px;
    height: 40px;
    left: 2rem;
    top: 7.5px;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
    transition-duration: .5s;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

a:hover {
    color: aliceblue;
    transition-duration: .5s;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    padding: 10px;
}

li {
    padding: 1rem;
}
.novidades{
    width: 100%;
    height: 100%;
}