@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Sofia+Sans+Condensed:ital,wght@1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}

header .container {
    flex-direction: column;
    justify-content: flex-start;
}

.max-width {
    width: 100%;
    min-height: auto;
}

.bg {
    background: url(_images/bg-2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.menu {
    background-color: rgb(192, 192, 192);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    display: inline;
}

/* ###menu-mobile### */

.menu-mobile{
    
}

.logo {
    background: url(_images/logo-roupa.png) no-repeat;
    background-size: contain;
    z-index: 9;
    position: relative;
    width: 7rem;
    height: 2rem;
    left: 15px;
    top: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
    transition-duration: .5s;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

a:hover {
    color: aliceblue;
    transition-duration: .5s;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    padding: 10px;
}

li {
    padding: 1rem;
}

.call {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.novidades {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

header .novidades h1{
    position: relative;
}
header .novidades {
    flex-direction: column;
    justify-content: flex-start;
}
header .novidades .text p{
    text-align: start;
    margin-top: 50px;
}

.image-right {
    width: 50%;
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: flex-start;
    padding: 2rem;
}
.image-right img {
    width: 70%;
    object-fit: contain;
}
.txt-pq{
    font-size: .5rem;
}
.txt-md{
    font-size: 1.5rem;
}
.txt-gd {
    font-size: 4.5rem;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: rgb(63, 0, 145);
}

header button {
    border: none;
    background-color: rgb(14 0 74 / 84%);
    position: relative;
    padding: 10px;
    color: white;
    border-radius: 4px;
    margin-top: 1rem;
}
    
header .image-right img{
    width: 70%;
}

/* Responsive */

@media  screen and (max-width:720px) {
    html{
        font-size: 65%;
    }
}

@media  screen and (max-width:500px) {
    .menu-desktop{
        display: none;
    }
    .menu-mobile{
        display: flex;
        width: 150px;
        height: 10px;
        background-color: yellow;
        z-index: 1000 ;
    }
    .call{
        flex-direction: column;
        justify-content: start;
    }
}